.background {
    background-image: url('/Images/16-bit-1920-x-1080-uiflyo8fkatxjwxu.jpg');
    background-repeat: repeat;
    background-size: cover;
}

@font-face {
    font-family: "Pixel";
    src: url(/Font/PixeloidSansBold-PKnYd.ttf);
}

.pixelFont {
    font-family: "Pixel";
}

.backgroundWhite{
    background-color: white;
}

.btn-fixed-size {
    width: 150px;
    height: 40px;
    background-color: #63C1F6;
    border-radius: 0%;
    margin: 15px;
    color: white;
}

input {
    background-color: #93D8FF;
    border-radius: 0%;
    color: white;
}
.searchBtn {
    width: 100px;
    height: 40px;
    background-color: #63C1F6;
    border-radius: 0%;
    color: white;
}

/* .favContainer {
    max-height: 200px; 
    overflow-y: auto;
  } */